body{
    background-image:linear-gradient(to right, rgb(255, 255, 255), rgb(255, 0, 0));
}

.heading{
    font-size: 5rem;
    font-weight: bolder;
}

li{
    font-size: 3rem;
    list-style: upper-roman;
}

.done{
    text-decoration: line-through;
}

.del{
    margin: 13px;
    font-size: 2rem;
}

.check{
    margin: 13px;
    font-size: 2rem;
}

#first{
    font-size: 2rem;
}

#userinput{
    font-size: 2rem;
}

#enter{
    font-size: 2rem;
}
